.content {
  width: 100%;
  max-width: 888px;
  padding: 2%;
  margin: 0 auto;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 80px;
    margin-bottom: 24px;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin-top: 24px;
    margin-bottom: 80px;

    > div {
      h2 {
        font-weight: 500;
        font-size: 20px;
        color: var(--gray-900);
        opacity: .4;

        margin-bottom: 24px;
      }

      .pagination {
        margin-top: 28px;
      }
    }
  }
}